.title{
    text-transform: uppercase;
}
body
{
    background-color: rgb(206, 206, 206);
}

li {
    text-transform: uppercase;
    font-size: x-large;
}

p {
    color: darkslategray;
    font-family: serif;
    font-size: larger;
}